/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ea1d1d;
}

a {
  color: #ef6603;
  text-decoration: none;
}

a:hover {
  color: #fc8129;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
p,
a {
  font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #17a2b8;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transition: all 0.4s;
  border: 2px solid #ffffff;
}

.back-to-top i {
  font-size: 15px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #00394f;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background-color: #ffffff;
  border-bottom: 2px solid #17a2b8;
}

#header .logo a {
  font-size: 35px;
  color: #17a2b8;
  font-weight: 700;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
._navbar {
  padding: 0;
}

._navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

._navbar li {
  position: relative;
}

._navbar a,
._navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 16px;
  color: black;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 50px;
}

._navbar a i,
._navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

._navbar a:hover,
._navbar .active,
._navbar .active:focus,
._navbar li:hover>a {
  background: #17a2b8;
  color: #fff;
}

@media (max-width: 1366px) {
  ._navbar .dropdown .dropdown ul {
    left: -90%;
  }

  ._navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }

  ._navbar i {
    display: none;
  }
}

@media (max-width: 1564px) {
  ._navbar i {
    display: none;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #17a2b8;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  ._navbar i {
    display: block;
  }

  ._navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(20, 21, 28, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #2a2c39;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #fff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero p {
  color: #ffffff;
  margin: 0;
}

.hero .card-body p {
  color: #17a2b8;
  margin: 0;
}

.hero h1 {
  color: #ffffff;
  font-weight: 700;
  margin: 20px 0;
}

.hero span {
  color: #17a2b8;
}

.card h2 {
  font-weight: bold;
  color: #17a2b8;
}

@media (max-width: 991px) {
  .hero .card-body p{
    font-size: 13px;
  }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 30px;

}

.section-bg {
  background-color: #17a2b8;
}

.bg-card {
  color: #f8f9fa;
}

.section-span {
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #17a2b8;
}

.section-span span {
  position: relative;
  background: #ffffff;
  z-index: 1;
}

.section-span::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #17a2b8;
}

.section-title h1,p{
  color: #00394f;
}

/*--------------------------------------------------------------
# Our Benefits
--------------------------------------------------------------*/
.our-benefits img {
  width: 40px;
  background-color: #17a2b8;
  padding: 5px;
  border-radius: 5px;
}

.our-benefits h5 {
  margin-top: 15px;
  color: #00394f;
  font-weight: bold;
}

.our-benefits .card-body {
  background-color: #f8f9fa;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  text-align: center;
}

.testimonials .card-body {
  height: 300px;
}

.testimonials .testimonial-item img {
  padding: 10px 15px;
  background-color: #17a2b8;
  border-radius: 48%;
}

.testimonials .testimonial-item i {
  color: #ff8d4c;
  margin: 10px 0;
}


.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #17a2b8;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  border: 2px solid #00394f;
}

.accordion-item {
  margin: 10px;
}

/*--------------------------------------------------------------
# Navigate through our Pages
--------------------------------------------------------------*/
.navigate .card-title {
  color: #00394f;
  font-weight: 700;
}

.navigate button {
  background-color: #17a2b8;
  color: #fff;
  padding: 5px 50px;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid #d3d3d3;
}

.navigate button:hover {
  background-color: #00394f;
  color: #fff;
  transition: .5s;
}

.navigate .card-body {
  background-color: #f8f9fa;
}

/*--------------------------------------------------------------
# About Us 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
.welcome .card-body {
  padding: 80px;
}

.welcome .card {
  border: 2px solid #d3d3d3;
  color: #000;
}

.welcome .card-title {
  font-weight: 700;
}

.welcome .card img {
  width: 100px;
}

.welcome .card-body button {
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

/*--------------------------------------------------------------
# Our Mission
--------------------------------------------------------------*/
.our-mission .card-title {
  color: #00394f;
  font-weight: 700;
}

.our-mission .card-body img {
  width: 50px;
}

.our-mission .card-body .card-text-img {
  margin-bottom: 20px;
}

.our-awards img {
  width: 40px;
  background-color: #17a2b8;
  padding: 5px;
  border-radius: 5px;

}

.our-awards .card-body h5 {
  margin-top: 15px;
  color: #00394f;
  font-weight: 700;
}

.our-awards .card-body {
  height: 320px;
}

.our-awards .swiper-pagination {
  position: relative;
  margin-top: 20px;
}

.our-awards .swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #17a2b8;
}

.our-awards .swiper-pagination .swiper-pagination-bullet-active {
  border: 2px solid #00394f;
}

@media (max-width: 991px) {
  .our-awards .card-body {
    height: 100%;
  }
}
/*--------------------------------------------------------------
# Our History
--------------------------------------------------------------*/
.our-history .card-body img {
  width: 50px;
}

.our-history .card-body h1{
  color: #fff;
  font-weight: 700;
}

.our-history h5{
  color: #00394f;
  font-weight: 700;
}

.our-history .card-history {
  background-color: #17a2b8;
  border-radius: 5px;
  padding-top: 10px;
}

@media (max-width: 991px) {
  .our-history .card-history{
    margin-bottom: 15px;
  }
}
/*--------------------------------------------------------------
# Our Team Members
--------------------------------------------------------------*/
.our-team-members .teacher-img img {
  width: 70px;
}

.our-team-members .card-body .social-teacher a{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #17a2b8;
  color: #fff;
  border-radius: 10%;
}

.our-team-members .card-body .social-teacher a:hover {
  background-color: #00394f;
  transition: .5s;
}

.our-team-members .teacher-img span {
  color: #00394f;
  font-size: 20px;
  margin: 0 10px;
  font-weight: 700;
}

.our-team-members .card-teacher .card-title {
  color: #00394f;
  font-weight: 700;
}

.our-team-members .card-teacher {
  background: #f8f9fa;
}

@media (max-width: 991px) {
  .our-team-members .teacher-img span {
    font-size: 12px;
  }
  .our-team-members .card-body .social-teacher a{
    width: 35px;
    height: 36px;
  }
}
/*--------------------------------------------------------------
# Academics
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Our Special Features
--------------------------------------------------------------*/
.our-special-features img {
  width: 40px;
  background-color: #17a2b8;
  padding: 5px;
  border-radius: 5px;
}

.our-special-features .card-body {
  color: #0f87ff;
}

.our-special-features h5 {
  margin-top: 15px;
  color: #00394f;
  font-weight: bold;
}
/*--------------------------------------------------------------
# What Students Learn
--------------------------------------------------------------*/
.what-students-learn .card-body img {
  width: 100%;
  border-radius: 5px;
}

.what-students-learn .card-body h5 {
  font-weight: 700;
  color: #00394f;
  margin-top: 20px;
}

.what-students-learn .card-body p {
  color: #00394f;
}
/*--------------------------------------------------------------
# Our Rooms Gallery
--------------------------------------------------------------*/
.our-rooms-gallery {
  padding: 60px 0;
}

.our-rooms-gallery #our-rooms-gallery-flters {
  padding: 0;
  margin: 0 0 35px 0;
  list-style: none;
  text-align: center;
}

.our-rooms-gallery #our-rooms-gallery-flters li {
  cursor: pointer;
  margin: 0 15px 15px 0;
  display: inline-block;
  padding: 7px 15px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #444444;
  border-radius: 4px;
  background: #17a2b8;
  color: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.our-rooms-gallery #our-rooms-gallery-flters li:hover,
.our-rooms-gallery #our-rooms-gallery-flters li.filter-active {
  background: #00394f;
  color: #ffffff;
}

.our-rooms-gallery #our-rooms-gallery-flters li:last-child {
  margin-right: 0;
}

.our-rooms-gallery .card .card-body img {
  width: 250px;
  border-radius: 5px;
}

.our-rooms-gallery .card .card-body h5 {
  font-weight: 700;
  color: #00394f;
  margin: 30px;
}

.our-rooms-gallery .card .card-body p {
  color: #00394f;
  margin: 0px 30px;
}
/*--------------------------------------------------------------
# Admissions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Admission Process
--------------------------------------------------------------*/
.admission-progress .card-body {
  background-color: #f8f9fa;
}

.admission-progress .card-body .card-title {
  color: #00394f;
  font-weight: 700;
}

.admission-progress .card-body .card-text {
  color: #00394f;
}
/*--------------------------------------------------------------
# Student Life
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Extracurricular
--------------------------------------------------------------*/
.activities img {
  width: 40px;
  background-color: #17a2b8;
  padding: 5px;
  border-radius: 5px;
}

.activities h5 {
  margin-top: 15px;
  color: #00394f;
  font-weight: bold;
}

.activities .card-body {
  background-color: #f8f9fa;
}

/*--------------------------------------------------------------
# Events & Celebrations
--------------------------------------------------------------*/
.events .card-body img {
  width: 100%;
  border-radius: 5px;
}

.events .card-body h5 {
  font-weight: 700;
  color: #00394f;
  margin-top: 20px;
}

.events .card-body p {
  color: #00394f;
}
/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact button {
  background-color: #17a2b8;
  color: #fff;
}

.contact button:hover {
  background-color: #00394f;
  transition: .5s;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.bg-footer {
  background-color: #00394f;
}

.footer-section {
  padding: 80px 0;
}

.footer-section p {
  color: #fff;
}

.footer-section .relative {
  position: relative;
}

.footer-section a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.footer-section a:hover {
  color: #f8f9fa;
}

.footer-section .subscription-form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}

@media (min-width: 992px) {
  .footer-section .subscription-form {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}

.footer-section .subscription-form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.footer-section .subscription-form .form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}

.footer-section .subscription-form .form-control:active,
.footer-section .subscription-form .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px 0 rgba(255, 255, 255, 0.2);
}

.footer-section .subscription-form .form-control::-webkit-input-placeholder {
  font-size: 14px;
}

.footer-section .subscription-form .form-control::-moz-placeholder {
  font-size: 14px;
}

.footer-section .subscription-form .form-control:-ms-input-placeholder {
  font-size: 14px;
}

.footer-section .subscription-form .form-control:-moz-placeholder {
  font-size: 14px;
}

.footer-section .subscription-form .btn {
  border-radius: 10px !important;
}

.footer-section .sofa-img {
  position: absolute;
  top: -200px;
  z-index: 1;
  right: 0;
}

.footer-section .sofa-img img {
  max-width: 380px;
}

.footer-section .links-wrap {
  margin-top: 0px;
}

@media (min-width: 992px) {
  .footer-section .links-wrap {
    margin-top: 54px;
  }
}

.footer-section .links-wrap ul li {
  margin-bottom: 10px;
}

.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.footer-section .custom-social li {
  margin: 2px;
  display: inline-block;
}

.footer-section .custom-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #fff;
  color: #17a2b8;
  border-radius: 10%;
}

.footer-section .custom-social li a:hover {
  background: #00394f;
  color: #ffffff;
}

.footer-section .border-top {
  border-color: #dce5e4;
}

.footer-section .border-top.copyright {
  font-size: 14px !important;
}

.untree_co-section {
  padding: 7rem 0;
}

.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.form-control::-webkit-input-placeholder {
  font-size: 14px;
}

.form-control::-moz-placeholder {
  font-size: 14px;
}

.form-control:-ms-input-placeholder {
  font-size: 14px;
}

.form-control:-moz-placeholder {
  font-size: 14px;
}

.service {
  line-height: 1.5;
}

.service .service-icon {
  border-radius: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #3b5d50;
  margin-right: 20px;
  color: #ffffff;
}

textarea {
  height: auto !important;
}

.site-blocks-table {
  overflow: auto;
}

.site-blocks-table .product-thumbnail {
  width: 200px;
}

.site-blocks-table .btn {
  padding: 2px 10px;
}

.site-blocks-table thead th {
  padding: 30px;
  text-align: center;
  border-width: 0px !important;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.site-blocks-table td {
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}

.site-blocks-table tbody tr:first-child td {
  border-top: 1px solid #3b5d50 !important;
}

.site-blocks-table .btn {
  background: none !important;
  color: #000000;
  border: none;
  height: auto !important;
}

.site-block-order-table th {
  border-top: none !important;
  border-bottom-width: 1px !important;
}

.site-block-order-table td,
.site-block-order-table th {
  color: #000000;
}

.couponcode-wrap input {
  border-radius: 10px !important;
}

.text-primary {
  color: #3b5d50 !important;
}

.thankyou-icon {
  position: relative;
  color: #3b5d50;
}

.thankyou-icon:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(59, 93, 80, 0.2);
}

